
.button {
    -fx-background-color: darkcyan;
    -fx-border-color: white;
    -fx-border-width: 7px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-text-fill: white;
    -fx-font-size: 30px;
}

.button:hover {
    -fx-background-color: #063f3f;
}
